@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	line-height: 17px;
	background-color: #E6EAE8;
}


.outline{
	 border: 2px solid rgba(0,0,0,0); 
}

.space_between{margin-top: 8px;font-size: 17px;}

.footer {
  position: relative;
  right: 0;
  bottom: -250px;
  left: 0;
  padding: 1rem;
  background-color: FBFFFD;
  text-align: center;
}

.search_bar{
/*	position: relative;
	left:40%;*/
}
.top_bar {
	width: 100%;
	/* min-width: 1050px; */
	height: 40px;
	background-color: #37B0E9;
	border-bottom: 2px solid #337ab7;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: sticky;
	top: 0px;
	z-index: 10;
}



.logo a{
	/* font-family: 'Bellota-BoldItalic', sans-serif; */
	margin-left: 10px;
	font-size: 30;
	position: relative;
	top: 9px;
	color: white;
	/* text-shadow: #73B6E2 0.5px 0.5px 0px; */
	/* color: #1086BA; */
}

a:hover {
	text-decoration: none;
}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	margin: 0px 2px;
}

nav a:hover {
	border-bottom: 7px solid #e67e22;
	color: #fff;
}

.wrapper {
	margin: 0 auto;
	top: 20px;
	position: relative;
	padding: 0 10px;
	/*width: 75%;
	min-width: 950px;*/
}

.column {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
}

.border{
	border: 1px solid 	#000000;
}

.user_details {
	width: 100%;
	/*float: left;*/
	margin-bottom: 10px;
}

.float{
	float: left;
}

.user_details img {
	height: 70px;
	border-radius: 5px;
	margin-right: 5px;
}

.user_details_left_right {
	width: 150px;
	/* display: inline-table; */
	position: absolute;
	left: 110px;
	top: 10px;
	/* font-size: 20px; */
	}

#conversations{
	width: 100%;
}

.main_column {
/*	float:right;
*//*	width: 70%;
*/	z-index: -1;
	min-height: 160px;
	
}
.profile_main_column {/* min-width: 675px; */float: left;width: 60%;z-index: -1;}

#message_textarea {
	width: 80%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
}
#message_submit {
	height: 41px;
	width: %;
	margin: 0px 10px;
	position: absolute;
	border:none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}
.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}
.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}

.loaded_conversations {
	max-height: 200px;
	overflow: scroll;
}


.user_found_messages {
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
	background-color: #D3D3D3;
}

.user_found_messages img {
	height: 35px;
	float: left;
}

#grey {
	color: #8C8C8C;
}

.resultDisplay {
	padding: 5px 0 5px;
	/* position: absolute; */
	/* height: 70px; */
	/* width: 230px; */
	border-bottom: 1px solid #D3D3D3;
	background-color: white;
	/* z-index: 3; */
}
.resultDisplay a {
	float: none;
}
.resultDisplay:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}
.liveSearchProfilePic img {
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText {
	background-color: transparent;
	color: #1E96CA;
}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
}
.dropdown_data_window {
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: scroll;
}

.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -5px;
}
.search {
	margin: 8px 0 0 15%;
	background-color: white;
	width: 350px;
	position: relative;
	left: -4px;
}

.search #search_text_input {
	border: thin solid #E5E5E5;
	float: left;
	height: 23px;
	outline: 0;
	width: 100px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.button_holder {
	background-color: #F1F1F1;
  	border: thin solid #e5e5e5;
  	cursor: pointer;
  	float: left;
  	height: 23px;
  	text-align: center;
  	width: 50px;
  	border-top-right-radius: 3px;
  	border-bottom-right-radius: 3px;
}

.button_holder img {
	margin-top: 1px;
    width: 20px;
}

.search_results {
	background-color: #fff;
	border: 1px solid #DADADA;
	border-bottom: none;
	border-top: none;
	margin-top: 21px;
	position: relative;
	width:;
	width: 2;
}
.search_results_footer{
	padding: 7px 4px 0px 4px;
	height: 30px;
	border: 1px solid #DADADA;
	border-top: none;
	background-color: #20AAE5;
	text-align: center;
	position: relative;
}

.search_results_footer a {
	color: #fff;
}

.search_result {
	padding: 10px;
    height: 100px;
}
.result_profile_pic {
	float: left;
    margin-right: 10px;
}

#search_hr {
	margin-bottom: 0px;
}

.small_profile_pic {
	height: 55px;
    margin: 1px 12px 0 2px;
    float: left;
}

#settings_input {
	border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}

.settings_submit {
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	/* color: #fff; */
}
